<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
<h3>Dear
  <% if !@donee.entity_name.nil? %>
      <% unless @donee.entity_name.empty? %>
          <%= @donee.entity_name %>
      <% end %>
  <% elsif !@donee.contact_infos.nil? %>
      <% @donee.contact_infos.each do |d| %>
          <% if d and (d.primary or @donee.contact_infos.length == 1) %>
              <%= d.first_name %>
          <% end %>
      <% end %>
  <% else %>
      SHARE User
  <% end %>,
</h3>
<p>You have requested <%= @listing.title %>
  <% if !@donor.entity_name.nil? %>
      <% unless @donor.entity_name.empty? %>
          from <%= @donor.entity_name %>
      <% end %>
  <% elsif !@donor.contact_infos.nil? %>
      <% @donor.contact_infos.each do |c| %>
          <% if c and (c.primary or @donor.contact_infos.length == 1) %>
              from <%= c.first_name %>
          <% end %>
      <% end %>
  <% end %>.
</p>
<blockquote>
  <%= @listing.description %>
</blockquote>
<p>You can watch the status of your request from your account dashboard at http://sac.hare.tech</p>
<p>Thank You!</p>
<p>Sacramento Human Assistance Resource Exchange (SHARE)</p>
</body>
</html>
