<hr>
<h3>Applicants</h3>
<table class="small-12 columns">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Request Date</th>
      <th colspan="3">Approval Status</th>
    </tr>
  </thead>
  <tbody>
    <% @applications_received.each do |app| %>
    <tr>
        <td><%= "#{app.first_name} #{app.last_name}".titleize %></td>
        <td><%= format_email(app.email) %></td>
        <td><%= date_format(app.submission_date) %></td>
      <% if app.approval_status %>
        <td><%= app.approval_status.titleize %></td>
        <td><%= link_to "Reset", listing_applicant_reset_path(id: app.id, listing_id: @listing.id), method: :post %></td>
      <% else %>
        <td><%= link_to "Approve", listing_applicant_approve_path(id: app.id, listing_id: @listing.id), method: :post %></td>
        <td><%= link_to "Decline", listing_applicant_decline_path(id: app.id, listing_id: @listing.id), method: :post %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

